---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>

  <nav>
    <Hamburger/>
    <Navigation/>
  </nav>

</header>

<style>
      nav{
    display:flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>