---
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags">Tags</a>
</div>

<style>

  a {
    padding: 0.5rem 1rem;
    color: var(--link-color);
    text-decoration: none;
    font-style: oblique;
  }
</style>
