---

---
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
    </nav>
    

    <style>
        nav{
    display:flex;
    gap: 1rem;
    margin-top: 2rem;
  }
        a{
    padding:0.5rem 1rem;
    color: #fff9ecff;
    background-color: #4c1d95;
    text-decoration: none;
  }
    </style>